<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>vue 测试</title>
  <style>

  </style>

    <link rel="stylesheet" media="screen" charset="utf-8" href="/static/pkg/base.css" />
</head>

<body>
  <div id="app" v-cloak>
    <h2>值为: {{msg}}</h2>
    <input type="text" v-model="msg">
  </div>

<script charset="utf-8" src="/static/lib/mod.js"></script>
<script>/*resourcemap*/
</script>
<script src="/static/lib/vue.js"></script>
<script>
    new Vue({
      el: '#app',
      data: {
        msg: 'asd'
      }
    })
  </script>
<script type="text/javascript" charset="utf-8" src="http://192.168.1.43:8133/livereload.js"></script></body>

</html>
