<%for(var i=0,ll=data.length; i<ll; i++) { %>
  <li>
    <label class="checkgroup">
      <input type="checkbox" id="block_<%= data[i].id%>" name="checkall"><label for="block_<%= data[i].id%>" class="check-all"></label>
    </label>
    <a href="javascript:void(0);"><%= data[i].title%></a>
    <span><a href="/admin/block/edit?id=<%= data[i].id%>">编辑</a><i class="remove">删除</i></span>
  </li>
<%}%>
