<%for(var i=0,ll=data.length; i<ll; i++) { %>
  <li>
    <label class="checkgroup">
      <input type="checkbox" id="goods_<%= data[i].id%>" name="checkall"><label for="goods_<%= data[i].id%>" class="check-all"></label>
    </label>
    <a><%= data[i].goods_name%></a>
    <span><a href="./goods/edit#id=<%= data[i].goods_id%>">编辑</a><i class="remove">删除</i></span>
  </li>
<%}%>
