@import "../../sass/variables.scss";
body {
    background-color: #2E363F;
}

#header {
    background-color: #1f262d;
    color: #fff;
    height: 77px;
    & > h1 {
        height: 77px;
        font-size: 15px;
        font-size: 20px;
        padding: 20px;
        & > i {
            font-size: 28px;
            color: #da542e;
        }
    }
}

#user-nav {
    position: absolute;
    top: 0px;
    left: 220px;
    height: 38px;
    & > ul {
        width: 100%;
        height: 100%;
        clear: both;
        color:#fff;
        border-left: 1px solid #2e363f;
        border-right: 1px solid #2e363f;
        & > li {
            min-width: 10px;
            height: 38px;
            line-height: 38px;
            display: inline-block;
            padding: 0 10px;
            color:#999;
            i{
              margin-right: 5px;
              vertical-align: baseline;
            }
            a{
              font-size: 13px;
            }
        }
    }
}

#search {
    position: absolute;
    right: 20px;
    width: 200px;
    height: 38px;
    top: 3px;
    & > input[type=search] {
        background-color: #47515b;
        color: #fff;
    }
}

#sidebar {
    width: 220px;
    float: left;
    position: relative;
    z-index: 16;
    & > ul {
        li {
            min-height: 40px;
            border-top: 1px solid #37414b;
            border-bottom: 1px solid #1f262d;
            line-height: 40px;
            & > a {
                padding-left: 15px;
                display: inline-block;
                width: 100%;
                line-height: 40px;
                color: #939da8;
                & > i {
                    margin-right: 10px;
                }
            }
            & > .display {
                display: block;
            }
        }
        li:first {
            border-top: none;
        }
        & li > ul {
            display: none;
            & > li > a{
                padding-left: 40px;
            }
        }
        & > li> a.active,
        & > li> a:hover {
            background-color: #27a9e3;
            color: #fff;
        }
        & > li > ul > li > a.active,
        & > li > ul > li > a:hover {
            background-color: #28b779;
            color: #fff;
        }
    }
}
#main {
    margin-left: 220px;
    width: auto;
    min-height: 1000px;
    margin-right: 0;
    background-color: #eee;
    margin-top: -37px;
    padding: 10px 0 0 20px;
    & > div.menu {
      margin-bottom: 10px;
      & > em, select, a, div {
        margin: 0 10px;
      }
      & > em{
          color:#1b8ac2;
          cursor: pointer;
      }
    }
    ul.list{
      background-color: #fff;
      min-height: 1000px;
      padding-top: 1px;
      & > ul.list{
        min-height:50px;
        margin-top: -8px;
        padding-left: 34px;
        background-color: ivory;
        & > li{
          min-height: 30px;
          height: auto;
          & > a{
            min-height:30px;
            display: inline-block;
            max-width: 600px;
            word-break: break-all;
          }
          &:hover{
            background-color: ivory;
          }
        }
      }
      & > form, div.form{
        padding-top: 20px;
      }
      & > li{
        border-bottom:1px solid #ddd;
        min-height: 30px;
        line-height: 30px;
        padding-left: 10px;
        margin: 8px 0;
        &:hover{
          background-color: #fcfcfc;
          & > span{
            display: inline;
          }
        }
        & > span{
          margin-left: 10px;
          font-size: 11px;
          display: none;
          & > i, a{
            font-size: 12px;
            color:#666;
            margin: 0 5px;
            cursor: pointer;
          }
        }
        & > b{
          margin-left: 0px;
          color:$bgcolor-danger;
        }
      }

      & > .turnpage{
        background-color: ivory;
        margin-top: -8px;
        padding: 7px 20px;
        height: 60px;
      }
    }
}
