@import "../../sass/variables.scss";

.httperror {
  width: 100%;
  min-height: 200px;
  text-align: center;
  & > .status {
    margin-top: 100px;
    font-size: 140px;
    font-weight: bold;
    color:#28B779;
  }
  & > p{
    font-size: 25px;
    color:#666;
    margin:20px 0;
  }
}

input[disabled],textarea[disabled] {
  background-color: #ebebe4;
}

.tab {
  & > ul{
    clear:none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    height: 50px;
    &>li{
      height: 40px;
      margin-right: 20px;
    }
  }
  & > div.item{
    display: none;
    width: 850px;
    border:none;

    iframe{
      width: 100%;
      border:none;
      height:1000px;
    }
  }
}

form > div, .form > div{
  padding-left: 150px;
}
form > div > label, .form > div > label{
  width: 150px;
  i{
    color:red;
    font-size:21px;
  }
}
