<!DOCTYPE html>
<html>

<head>
  <title>魅力商城</title>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <link rel="import" href="/widget/shopMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/shop/index/index.css">
  <link rel="import" href="/widget/shopUserMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/home/login/login.less">
</head>

<body>
  <link rel="import" href="/widget/shopHeader/header.html?__inline">
  <link rel="import" href="/widget/shopNav/nav.html?__inline">
  <div class="usermain">
      <div class="form" style="width:500px;">
        <div><label for="">用户名</label><input type="text" id="username" name="username"></div>
        <div><label for="">密码</label><input type="password" id="password" name="password"></div>
        <div><input type="submit" value="登录" class="btn btn-info"></div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <link rel="import" href="/widget/shopFooter/footer.html?__inline">
  <script type="text/javascript">
    var login = require("home/login/login");
    login.init();
  </script>
</body>

</html>
