.main{
    .right{
        .top{
            clear:both;
            width: 100%;
            .topleft{
                width: 372px;
                height: 477px;
                float: left;
            }
            .topright{
                width: 570px;
                height: 477px;
                float: left;
            }
        }
    }
}
