{% extends "../master/index.html" %} {% block css%} {% endblock %} {% block title %} 商品类型管理 {% endblock %}
<!---->
{% block content %}
<div class="menu">
  <a href="javascript:history.back();">返回</a>
</div>
<ul class="list" id="list">
<div class="form"  style="width:800px;">
  <div><label for="">类型名称</label><input type="text" id="catname" name="catname"></div>
  <div><input type="submit" class="btn btn-primary" value="更新"></div>
</div>
</ul>
{% endblock %}
<!---->
{% block js %}
<script type="text/javascript">
var goodstype = require('shopadmin/goodstype/goodstype');
goodstype.get();
goodstype.edit();
</script>
{% endblock %}
