<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/common/common.css">
    <link rel="stylesheet" href="/site/home/base.css" >
</head>
<body style="background-color:#fff;">
<ul class="list" id="list">
    <div class="form" style="width:800px;">
        <div>
            <label for="">名称</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="">LOGO</label>
            <input type="text" style="width:610px;margin-right:7px;" id="logo" name="logo">
            <input type="button" id="timgup" value="选择图片" />
        </div>
        <div>
            <label for="">品牌网址</label>
            <input type="text" id="link" name="link">
        </div>
        <div>
            <label for="">描述</label>
            <textarea rows="5" cols="40" id="brief" name="brief"></textarea>
        </div>
        <div>
            <label for="">权重</label>
            <input type="text" id="weight" name="weight" value="0">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="更新">
        </div>
    </div>
</ul>
<script src="/widget/kindeditor-4.1.10/kindeditor.js" charset="utf-8"></script>
<script src="/widget/kindeditor-4.1.10/lang/zh_CN.js" charset="utf-8"></script>
<script type="text/javascript">
    var goods = require('shopadmin/goods/goods');
    goods.get();
    goods.edit();
</script>
</body>
</html>
