<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/common/common.css">
    <link rel="stylesheet" href="/site/home/base.css">
    <script src="/lib/mod.js" data-loader="data-loader" charset="utf-8"></script>
    <script src="/lib/ejs.js" data-loader="data-loader" charset="utf-8"></script>
</head>
<body style="background-color:#fff;">
    <ul class="list" id="list">
        <div class="form" style="width:800px;">
          <div>
               <img src="http://o8tdqcp0r.bkt.clouddn.com/2016/06/15/v0rajwenn_0xg19ozwbawfspb5ttekhp.jpg!list" alt="">
          </div>
            <div>
                <label for="">图片上传</label>
                <input type="text" id="img_url-0" name="img_url-0" value="" style="width:545px;">
                <input type="button" id="img_url-0" value="上传"/>
            </div>
            <div>
                <label for="">图片上传</label>
                <input type="text" id="img_url-1" name="img_url-1" value="" style="width:545px;">
                <input type="button" id="img_url-1" value="上传"/>
            </div>
            <div>
                <label for="">图片上传</label>
                <input type="text" id="img_url-2" name="img_url-2" value="" style="width:545px;">
                <input type="button" id="img_url-2" value="上传"/>
            </div>
            <div>
                <label for="">图片上传</label>
                <input type="text" id="img_url-3" name="img_url-3" value="" style="width:545px;">
                <input type="button" id="img_url-3" value="上传"/>
            </div>
            <div>
                <label for="">图片上传</label>
                <input type="text" id="img_url-4" name="img_url-4" value="" style="width:545px;">
                <input type="button" id="img_url-4" value="上传"/>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="更新">
            </div>
        </div>
    </ul>
    <script type="text/javascript">
        require("layer");
        var globleConfig = require('globle/globle');
        globleConfig.init();
        var common = require('common/common');
        common.init();

        var tools = require("pizzatools");
        var goods = require('shopadmin/goods/goods');
        goods.getGallery();

        function edit(obj) {
            $(".form").pizzaValidate({
                'fields': {
                    '#img_url-0': {
                        'must': false,
                        'minLength': 1,
                        'maxLength': 200,
                        focusMsg: "请上传商品图片(非必填)",
                        errMsg: '商品图片必须在1-200个字符之间'
                    },
                    '#img_url-1': {
                        'must': false,
                        'minLength': 1,
                        'maxLength': 200,
                        focusMsg: "请上传商品图片(非必填)",
                        errMsg: '商品图片必须在1-200个字符之间'
                    },
                    '#img_url-2': {
                        'must': false,
                        'minLength': 1,
                        'maxLength': 200,
                        focusMsg: "请上传商品图片(非必填)",
                        errMsg: '商品图片必须在1-200个字符之间'
                    },
                    '#img_url-3': {
                        'must': false,
                        'minLength': 1,
                        'maxLength': 200,
                        focusMsg: "请上传商品图片(非必填)",
                        errMsg: '商品图片必须在1-200个字符之间'
                    },
                    '#img_url-4': {
                        'must': false,
                        'minLength': 1,
                        'maxLength': 200,
                        focusMsg: "请上传商品图片(非必填)",
                        errMsg: '商品图片必须在1-200个字符之间'
                    },
                },
                ajaxFun: function(data) {
                    let id = parent.document.location.href.split('=')[1];
                    if (!id) {
                        layer.msg("请先填写通用信息")
                        return;
                    }
                    op = "update";
                    data += "&goods_id=" + id;
                    $.ajax({
                        url: '/shopadmin/goodsgallery/' + op,
                        data: data,
                        success: function(msg) {
                            if (msg.state == true) {

                            }
                        }
                    });
                }
            });
        }
        edit();
    </script>
</body>

</html>
