<!DOCTYPE html>
<html>

<head>
  <title>魅力商城</title>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <link rel="import" href="/widget/shopMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/shop/index/index.css">
  <link rel="import" href="/widget/shopUserMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/user/addr/addr.less">
</head>

<body>
  <link rel="import" href="/widget/shopHeader/header.html?__inline">
  <link rel="import" href="/widget/shopNav/nav.html?__inline">
  <div class="usermain">
    <link rel="import" href="/widget/shopUserMenu/menu.html?__inline">
    <div class="userinfo useraddr">
      <div><a href="/user/addr/create">添加收货地址</a></div>
      <table>
        <thead>
          <td>收货人</td>
          <td>所在地区</td>
          <td>详细地址</td>
          <td>邮编</td>
          <td>电话</td>
          <td>操作</td>
          <td></td>
        </thead>
        <% for(var i=0;i<data.length;i++) {%>
        <tr id="<%= data[i].address_id%>">
          <td><%= data[i].consignee%></td>
          <td><%= data[i].province%><%= data[i].city%></td>
          <td><%= data[i].address%></td>
          <td><%= data[i].zipcode%></td>
          <td><%= data[i].tel%></td>
          <td><a href="/user/addr/create?id=<%= data[i].address_id%>">修改</a> | <a href="javascript:void(0)" class="addrdel">删除</a></td>
          <%if(data[i].state == 1) {%>
            <td>&nbsp;</td>
          <%} else {%>
            <td><a href="javascript:void(0);" class="setdef">设为默认</a></td>
          <%}%>
        </tr>
        <%}%>
      </table>
    </div>
    <div style="clear:both;"></div>
  </div>
  <link rel="import" href="/widget/shopFooter/footer.html?__inline">
  <script type="text/javascript">
    var addr = require("user/addr/addr");
    addr.init("lius");
  </script>
</body>

</html>
