<!DOCTYPE html>
<html>

<head>
  <title>魅力商城</title>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <link rel="import" href="/widget/shopMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/shop/index/index.css">
  <link rel="import" href="/widget/shopUserMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/user/buy/buy.less">
</head>

<body>
  <link rel="import" href="/widget/shopHeader/header.html?__inline">
  <link rel="import" href="/widget/shopNav/nav.html?__inline">
  <div class="usermain buy">
     <h2>确认收货地址</h2>
     <%for(var i=0, ll= addr.length;i<ll;i++){%>
       <%if(i==0){%>
      <div class="addr addr-active"><span>寄送至：</span><input type="radio" name="addr" checked="checked" id="addr<%= addr[i].address_id%>"  class="addrradio"/><i><%=addr[i].province%> <%= addr[i].city%> <%= addr[i].district%><%= addr[i].address%></i><strong>（<%= addr[i].consignee%> 收）<%= addr[i].tel%></strong></div>
      <%} else {%>
      <div class="addr"><span></span><input type="radio" name="addr" id="addr<%= addr[i].address_id%>" class="addrradio"/><i><%=addr[i].province%> <%= addr[i].city%> <%= addr[i].district%><%= addr[i].address%></i><strong>（<%= addr[i].consignee%> 收）<%= addr[i].tel%></strong></div>
      <%}%>
    <%}%>
    <h2>确认订单</h2>
    <table class="orderlist" id="orderlist">
      <thead>
        <td style="width:455px;">宝贝名称</td>
        <td style="width:180px;">商品属性</td>
        <td style="width:120px;">单价</td>
        <td style="width:120px;">数量</td>
        <td>小计</td>
      </thead>
      <%for(var i=0;i<data.length;i++){%>
        <% var goods = data[i].msg %>
        <tr id="goods_<%= goods.goods_id%>" class="tr">
          <td><img src="http://o8tdqcp0r.bkt.clouddn.com<%= goods.goods_img%>!v1" alt=""><p><%= goods.goods_name%></p></td>
          <td></td>
          <td>￥<em><%=goods.shop_price%></em>元</td>
          <td><input type="number" value="<%= goods.no%>" class="number"/></td>
          <td>￥<em><%= goods.shop_price * goods.no%></em></td>
        </tr>
      <%}%>
      <tfoot>
        <td colspan="5">给卖家留言：<input type="text" style="width:656px;" id="postscript"/>&nbsp;&nbsp;&nbsp;&nbsp;
        配送方式：<select name="" id="" style="width:200px;">
          <option value="">快递</option>
          <option value="">EMS</option>
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;合计：￥<em class="money" id="money"><%= money%></em></td>
      </tfoot>
    </table>
    <h2>实付</h2>
    <div class="result">
      <p><b>实付价：</b>￥<em class="money"><%= money%></em></p>
      <p class="address"><b>寄送至：</b><label>河南省 郑州市 金水区 未来路街道 未来路商城路首座国际(丰源官邸)6号楼2单元12楼西</label></p>
      <p class="shouhuoren"><b>收货人：</b><label>乔祝垒 15537172119</label></p>
    </div>
    <div><input type="button" value="提交订单" class="btn btn-danger btn-lg addorder"></div>
    <div style="clear:both;"></div>
  </div>
  <link rel="import" href="/widget/shopFooter/footer.html?__inline">
  <script type="text/javascript">
    var buy = require("user/buy/buy");
    buy.init();
  </script>
</body>

</html>
]
