<!DOCTYPE html>
<html>

<head>
  <title>魅力商城</title>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <link rel="import" href="/widget/shopMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/shop/index/index.css">
  <link rel="import" href="/widget/shopUserMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/user/index/index.less">
</head>

<body>
  <link rel="import" href="/widget/shopHeader/header.html?__inline">
  <link rel="import" href="/widget/shopNav/nav.html?__inline">
  <div class="usermain">
    <link rel="import" href="/widget/shopUserMenu/menu.html?__inline">
    <div class="userinfo userindex">
      <div class="userhuanying">
          <p>尊敬的会员<b>测试</b>，欢迎归来！</p>
          <p>最后一次登录：2016-05-17 16:45：37</p>
      </div>
      <div class="info">
        <ul>
          <li>
            <div class="left">
              <i class="icon-money"></i>
            </div>
            <div class="right">
              <h5>账户余额</h5>
            <b>￥0.00</b>
            </div>
          </li>
          <li>
            <div class="left">
              <i class="icon-money"></i>
            </div>
            <div class="right">
              <h5>订单交易总金额</h5>
              <b>￥0.00</b>
            </div>
          </li>
          <li>
            <div class="left">
              <i class="icon-money"></i>
            </div>
            <div class="right">
              <h5>我的积分</h5>
              <b>0</b>
            </div>
          </li>
          <li>
            <div class="left">
              <i class="icon-money"></i>
            </div>
            <div class="right">
              <h5>会员级别</h5>
              <b>注册会员</b>
            </div>
          </li>
          <li>
            <div class="left">
              <i class="icon-money"></i>
            </div>
            <div class="right">
              <h5>进行中的订单</h5>
              <b>1</b>
            </div>
          </li>
          <li>
            <div class="left">
              <i class="icon-money"></i>
            </div>
            <div class="right">
              <h5>账户余额</h5>
            ￥0.00
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <link rel="import" href="/widget/shopFooter/footer.html?__inline">
  <script type="text/javascript">
  </script>
</body>

</html>
