<!DOCTYPE html>
<html>

<head>
  <title>魅力商城</title>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <link rel="import" href="/widget/shopMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/shop/index/index.css">
  <link rel="import" href="/widget/shopUserMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/user/pay/pay.less">

</head>

<body>
  <link rel="import" href="/widget/shopHeader/header.html?__inline">
  <link rel="import" href="/widget/shopNav/nav.html?__inline">
  <div class="usermain">
    <div class="gap channel">
      支付成功
    </div>
    <a href="/user/order" class="btn btn-danger">我的订单</a>
    <div style="clear:both;"></div>
  </div>
  <link rel="import" href="/widget/shopFooter/footer.html?__inline">
  <script src="/lib/pingpp.js" charset="utf-8"></script>
  <script type="text/javascript">
      setTimeout(function() {
          document.location.href = "/user/order";
      }, 3000);
  </script>
</body>

</html>
