<!DOCTYPE html>
<html>

<head>
  <title>魅力商城</title>
  <link rel="import" href="/widget/meta/meta.html?__inline">
  <link rel="import" href="/widget/shopMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/shop/index/index.css">
  <link rel="import" href="/widget/shopUserMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/user/setting/setting.less">
</head>

<body>
  <link rel="import" href="/widget/shopHeader/header.html?__inline">
  <link rel="import" href="/widget/shopNav/nav.html?__inline">
  <div class="usermain">
    <link rel="import" href="/widget/shopUserMenu/menu.html?__inline">
    <div class="userinfo usersetting">
      <div class="form">
        <div><label for="">电子邮件</label><input type="text" id="mail" name="mail"></div>
        <div><label for="">手机</label><input type="text" id="phone" name="phone"></div>
        <div><input type="submit" value="更新" class="btn btn-info"></div>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <link rel="import" href="/widget/shopFooter/footer.html?__inline">
  <script type="text/javascript">
    var setting = require("user/setting/setting");
    setting.init();
  </script>
</body>

</html>
