<!DOCTYPE html>
<html>

<head>
    <title>购物车</title>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <link rel="import" href="/widget/shopMeta/meta.html?__inline">
    <link rel="stylesheet" href="/site/shop/list/list.css">
    <link rel="stylesheet" href="/site/shop/goods/goods.css">
</head>

<body>
    <link rel="import" href="/widget/shopHeader/header.html?__inline">
    <link rel="import" href="/widget/shopNav/nav.html?__inline">
    <div class="main">

    </div>
    <link rel="import" href="/widget/shopFooter/footer.html?__inline">
    <script type="text/javascript">
        var goods = require("shop/flow/flow");

    </script>
</body>

</html>
