<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <link rel="stylesheet" href="/site/shop/index/index.css">
</head>

<body>
    <link rel="import" href="/widget/shopHeader/header.html?__inline">
    <link rel="import" href="/widget/shopNav/nav.html?__inline">
    <div class="rotator" id="rotator">
        <ul class="lz">
            <li style="background:url(/site/shop/img/lz1.png);"><a href="#">&nbsp;</a></li>
            <li style="background:url(/site/shop/img/lz2.jpg);"><a href="#">&nbsp;</a></li>
            <li style="background:url(/site/shop/img/lz3.jpg);"><a href="#">&nbsp;</a></li>
            <li style="background:url(/site/shop/img/lz4.png);"><a href="#">&nbsp;</a></li>
            <li style="background:url(/site/shop/img/lz5.png);"><a href="#">&nbsp;</a></li>
            <li style="background:url(/site/shop/img/lz6.jpg);"><a href="#">&nbsp;</a></li>
        </ul>
        <ul class="num">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="goods">
        <h3><a href="#">更多</a>特价商品</h3>
        <ul>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
    <div class="goods">
        <h3><a href="#">更多</a>新品上架</h3>
        <ul>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
    <div class="goods">
        <h3><a href="#">更多</a>热卖商品</h3>
        <ul>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
    <div class="goods">
        <h3><a href="#">更多</a>精品推荐</h3>
        <ul>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <li>
                <a href="">
                    <img src="/site/shop/img/test/1.jpg" alt="">
                    <br>爱冕－白18K爱冕－白18K
                </a>
                <p>市场价：<span class="market">￥500元</span></p>
                <p>促销价：<span>￥1000元</span></p>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
      <link rel="import" href="/widget/shopFooter/footer.html?__inline">
    <script type="text/javascript">
        var index = require("shop/index/index");
        index.Item();
    </script>
</body>

</html>
