<!DOCTYPE html>
<html>

<head>
    <link rel="import" href="/widget/meta/meta.html?__inline">
    <link rel="import" href="/widget/shopMeta/meta.html?__inline">
    <link rel="stylesheet" href="/site/shop/list/list.css">
</head>

<body>
    <link rel="import" href="/widget/shopHeader/header.html?__inline">
    <link rel="import" href="/widget/shopNav/nav.html?__inline">
    <div class="main">
        <div class="left">
            <h3>所有商品分类</h3>
        </div>
        <div class="right">
            <div class="goods">
                <h3 class="h3title"><a href="#">更多</a>特价商品</h3>
                <ul>
                    <li>
                        <a href="">
                            <img src="/site/shop/img/test/1.jpg" alt="">
                            <br>爱冕－白18K爱冕－白18K
                        </a>
                        <p>市场价：<span class="market">￥500元</span></p>
                        <p>促销价：<span>￥1000元</span></p>
                    </li>
                    <li>
                        <a href="">
                            <img src="/site/shop/img/test/1.jpg" alt="">
                            <br>爱冕－白18K爱冕－白18K
                        </a>
                        <p>市场价：<span class="market">￥500元</span></p>
                        <p>促销价：<span>￥1000元</span></p>
                    </li>
                    <li>
                        <a href="">
                            <img src="/site/shop/img/test/1.jpg" alt="">
                            <br>爱冕－白18K爱冕－白18K
                        </a>
                        <p>市场价：<span class="market">￥500元</span></p>
                        <p>促销价：<span>￥1000元</span></p>
                    </li>
                    <li>
                        <a href="">
                            <img src="/site/shop/img/test/1.jpg" alt="">
                            <br>爱冕－白18K爱冕－白18K
                        </a>
                        <p>市场价：<span class="market">￥500元</span></p>
                        <p>促销价：<span>￥1000元</span></p>
                    </li>
                    <li>
                        <a href="">
                            <img src="/site/shop/img/test/1.jpg" alt="">
                            <br>爱冕－白18K爱冕－白18K
                        </a>
                        <p>市场价：<span class="market">￥500元</span></p>
                        <p>促销价：<span>￥1000元</span></p>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
            </div>

        </div>
        <div style="clear:both;"></div>
    </div>
    <link rel="import" href="/widget/shopFooter/footer.html?__inline">
    <script type="text/javascript">
        var index = require("shop/index/index");
        index.Item();
    </script>
</body>

</html>
