<!DOCTYPE html>
<html>

<head>
  <title>魅力商城-mobile</title>
  <link rel="import" href="/widget/shoptouchMeta/meta.html?__inline">
  <link rel="stylesheet" href="/site/shoptouch/index/index.less">
</head>

<body>
  <header>
    <div>
      <a href="/shoptouch"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/wap_logo.png" alt=""></a>
    </div>
    <div>
      <input type="search" placeholder="请输入搜索内容">
    </div>
    <div>
      <a href="/shoptouch/cate"><i class="icon-reorder"></i></a>
    </div>
  </header>
  <div class="slider">

  </div>
  <div class="indexmenu grid">
    <div class="col-3">
      <a href="#">
        <div class="a1">

        </div>
        <p>天猫</p>
      </a>
    </div>
    <div class="col-3">
      <a href="#">
        <div class="a2">

        </div>
        <p>聚划算</p>
      </a>
    </div>
    <div class="col-3">
      <a href="#">
        <div class="a3">

        </div>
        <p>到家</p>
      </a>
    </div>
    <div class="col-3">
      <a href="#">
        <div class="a4">

        </div>
        <p>外卖</p>
      </a>
    </div>
    <div class="col-3">
      <a href="#">
        <div class="a5">

        </div>
        <p>充值</p>
      </a>
    </div>
    <div class="col-3">
      <a href="#">
        <div class="a6">

        </div>
        <p>阿里旅行</p>
      </a>
    </div>
    <div class="col-3">
      <a href="#">
        <div class="a7">

        </div>
        <p>领金币</p>
      </a>
    </div>
    <div class="col-3">
      <a href="#">
        <div class="a8">

        </div>
        <p>分类</p>
      </a>
    </div>
  </div>
  <!-- 今日上新 -->
  <div class="newday">
    <h2>每日上新</h2>
    <div class="grid goods">
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201601/goods_img/696_G_1453242067295.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201511/goods_img/671_G_1448213372577.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201509/goods_img/645_G_1442542934271.png" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201511/goods_img/637_G_1448213269991.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201511/goods_img/640_G_1447622659512.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201511/goods_img/685_G_1447995499135.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201511/goods_img/680_G_1446851035765.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201604/goods_img/731_G_1460921801894.png" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201603/goods_img/716_G_1458149124570.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201601/goods_img/696_G_1453242067295.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
      <div class="col-6">
        <a href="#">
          <img src="http://upfile.ecmoban.com/images/201601/goods_img/696_G_1453242067295.jpg" alt="" />
          <p>
            模板堂大商创——B2B2C多用户商城系统
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-icon">
      <ul>
        <li><i class="icon-comments"></i><p>客户端</p></li>
        <li><i class="icon-cloud-upload"></i><p>触屏版</p></li>
        <li><i class="icon-desktop"></i><p>电脑板</p></li>
      </ul>
    </div>
    <div class="copyright">
      上海商创网络科技有限公司 版权所有
      <br> 地址：上海市普陀区中山北路3553号伸大厦3层
    </div>
  </div>
  <script type="text/javascript">
    lib.flexible.makeGridMode("750-12");
  </script>
</body>

</html>
