<!DOCTYPE html>
<html data-dpr="2">

<head>
    <title>魅力商城-mobile</title>
    <link rel="import" href="/widget/shoptouchMeta/meta.html?__inline">
    <link rel="stylesheet" href="/site/shoptouch/index/index.css">
</head>

<body>
    <header>
        <div>
            <a href="/shoptouch"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/wap_logo.png" alt=""></a>
        </div>
        <div>
            <input type="search" placeholder="请输入搜索内容">
        </div>
        <div>
            <a href="/shoptouch/cate"><i class="icon-reorder"></i></a>
        </div>
    </header>
    <div class="slider">

    </div>
    <ul class="indexmenu">
        <li>
            <a href="#"><img src="/site/shoptouch/common/img/1.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
        <li>
            <a href="#"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/1464286364060583873.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
        <li>
            <a href="#"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/1464286370307249325.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
        <li>
            <a href="#"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/1464286378877161223.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
        <li>
            <a href="#"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/1464286350198061632.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
        <li>
            <a href="#"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/1464286350198061632.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
        <li>
            <a href="#"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/1464286350198061632.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
        <li>
            <a href="#"><img src="http://upfile.ecmoban.com/data/assets/ecmoban2014/1464286350198061632.png" alt="">
                <p>全部分类</p>
            </a>
        </li>
    </ul>
</body>

</html>
