{% extends "../master/index.html" %} {% block css%} {% endblock %} {% block title %} 文章管理 {% endblock %}
<!---->
{% block content %}
<div class="menu">
  <a href="javascript:history.back();">返回</a>
</div>
<ul class="list" id="list">
<div class="form"  style="width:800px;">
  <div><label for="">用户名</label><input type="text" id="username" name="username"></div>
  <div><label for="">昵称</label><input type="text" id="nickname" name="nickname"></div>
  <div><label for="">密码</label><input type="password" id="password" name="password"></div>
  <div><input type="submit" class="btn btn-primary" value="更新"></div>
</div>
</ul>
{% endblock %}
<!---->
{% block js %}
<script type="text/javascript">
  var user = require('home/user/user');
  user.get();
  user.edit();

</script>
{% endblock %}
